<div class="row row-cols-1 row-cols-md-2 g-4">

        <% if goals.size > 0 %>
          <% goals.each do |goal| %>
          <div class="col">
            <div class="card-custom h-100 text-center border border-5 border-warning" style="width: 18rem; border-radius: 2.0rem;">
            <%= image_tag "#{goal.photo.attached? ? cl_image_path(goal.photo.key) : "" }", class:"card-img-custom mb-2", alt:"..."%>
                <div class="card-body">
                  <h5 class="card-title mb-3"><%= goal.title %></h5>
                      <div class="card-edit-menu">
                        <%= link_to edit_goal_path(goal) do %>
                          <p class="card-text"><i class="fa-regular fa-pen-to-square"></i></p>
                        <% end %>
                          <%= link_to complete_goal_path(goal) do %>
                            <p class="card-text"><i class="fa-solid fa-circle-check"></i></p>
                          <% end %>
                            <%= link_to goal_path(goal), data: { turbo_method: :delete, turbo_confirm: "Delete #{goal.title}?" } do %>
                              <p><i class="fa-regular fa-trash-can"></i></p>
                            <% end %>
                      </div>
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item mb-3">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          More..
                        </button>
                        </h2>

                         <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <p>Category: <%= goal.category %></p>
                          <p>Description: <%= goal.description.blank? ? "you can add a description through the pencil mark!" : goal.description %></p>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <h2>No goals here yet!</h2>
        <% end %>
</div>
