<div class="row row-cols-1 row-cols-md-4 g-4">

        <% if goals.size > 0 %>
          <% goals.each do |goal| %>
          <div class="col">
            <div class="card w-100 h-100 p-3 border border-5 border-warning" style="width: 18rem; border-radius: 2.0rem;">
            <%= image_tag "#{goal.photo.attached? ? cl_image_path(goal.photo.key) : "" }", class:"card-img-top", alt:"..."%>
                <div class="card-body">
                  <h5 class="card-title"><%= goal.title %></h5>
                    <p class="card-subtitle mb-2 text-muted"><%= goal.description || "" %></p>
                      <div class="card-edit-menu">
                        <%= link_to edit_goal_path(goal) do %>
                          <p class="card-text"><i class="fa-regular fa-pen-to-square"></i></p>
                        <% end %>
                          <%= link_to complete_goal_path(goal) do %>
                            <p class="card-text"><i class="fa-solid fa-circle-check"></i></p>
                          <% end %>
                            <%= link_to goal_path(goal), data: { turbo_method: :delete, turbo_confirm: "Delete #{goal.title}?" } do %>
                              <p><i class="fa-regular fa-trash-can"></i></p>
                            <% end %>
                      </div>
                </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <h2>No goals here yet!</h2>
        <% end %>
</div>
