<div style="background-image: url(https://images.unsplash.com/photo-1628440501245-393606514a9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1931&q=80);
">
<div class="container p-5 mt-3" style ="background-color:rgba(255, 255, 255, 0.8);">
  <h2> Add a new goal
    <%= link_to new_goal_path do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </h2>
    <h1>Your current goals:</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @goals.each do |goal| %>
        <div class="col">
          <% if goal.user == current_user %>
            <% if goal.completed == true %>
              <%= render 'goals/card_completed', goal: goal %>
            <% else %>
              <%= render 'goals/card', goal: goal %>
            <% end %>
          <% else %>
            <% if goal.completed == true %>
              <%= render 'goals/card_completed', goal: goal %>
            <% else %>
              <%= render 'goals/card', goal: goal %>
            <% end %>
          <% end %>
      </div>
      <% end %>
</div>
</div>
</div>
